<h1>GENERALA 1.0</h1>
<h2>Ultron Edition</h2>
<form action="/j1" method="POST">
  <input name="jugadaA" type="submit" value="jugadaA" />
</form>


<form action="/j2" method="POST">
  <input name="jugadaB" type="submit" value="jugadaB" />
</form>
<p> <%= @dadosJugador %> </p>

